.aggregated-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .aggregated-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .aggregated-container {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .aggregated-container {
    padding: 5px;
  }
}