.atmp-dashboard-container {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.atmp-chart-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.atmp-chart-wrapper > :nth-child(1) {
  grid-column: span 4;
  height: 40vh;
  max-width: 100%;
}

.atmp-chart-wrapper > :nth-child(2) {
  grid-column: span 4;
  height: 40vh;
  max-width: 100%;
}

.atmp-chart-wrapper > :nth-child(3) {
  grid-column: span 4;
  height: 40vh;
  max-width: 100%;
}

.atmp-chart-wrapper > :nth-child(4) {
  grid-column: span 6;
  height: 40vh;
  max-width: 100%;
}

.atmp-chart-wrapper > :nth-child(5) {
  grid-column: span 6;
  height: 40vh;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .atmp-chart-wrapper {
    grid-template-columns: repeat(8, 1fr);
  }
  .atmp-chart-wrapper > :nth-child(1) {
    grid-column: span 4;
  }
  .atmp-chart-wrapper > :nth-child(2) {
    grid-column: span 4;
  }
  .atmp-chart-wrapper > :nth-child(3) {
    grid-column: span 4;
  }
  .atmp-chart-wrapper > :nth-child(4) {
    grid-column: span 4;
  }
  .atmp-chart-wrapper > :nth-child(5) {
    grid-column: span 4;
  }
}

@media screen and (max-width: 992px) {
  .atmp-chart-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
  .atmp-chart-wrapper > :nth-child(1) {
    grid-column: span 3;
  }
  .atmp-chart-wrapper > :nth-child(2) {
    grid-column: span 3;
  }
  .atmp-chart-wrapper > :nth-child(3) {
    grid-column: span 3;
  }
  .atmp-chart-wrapper > :nth-child(4) {
    grid-column: span 3;
  }
  .atmp-chart-wrapper > :nth-child(5) {
    grid-column: span 3;
  }
}

@media screen and (max-width: 768px) {
  .atmp-chart-wrapper {
    grid-template-columns: 1fr;
  }
  .atmp-chart-wrapper > * {
    grid-column: span 1 !important;
    height: auto;
  }
  .atmp-dashboard-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .atmp-dashboard-container {
    width: 100%;
    border-radius: 0;
    padding: 0.5rem;
  }
  .dashboard-heading {
    font-size: 1.2rem;
  }
}