:root {
  --teal: #80CBC4;
  --aqua: #b4ebe6;
  --cream: #fbf8ef;
  --dark-cream: #ffebca;
  --orange: #ffb433;
  --dark-teal: #00634c;
  --dark-blue: #004574;
  --light-blue: #f5feff;
  --hover-bg: #f5f5f5;
  --grey: #e7e5e5;
  --dark-orange: #d18400;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 280px;
  background-color: #f5f5f5;
  padding: 20px 0;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 
    0 3px 8px rgba(0, 0, 0, 0.2),
    0 10px 10px   rgba(214, 214, 214, 0.904);
  transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.sidebar:hover {
  box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 0px 15px rgba(136, 136, 136, 0.904); 
}

.d-navbar-logo {
  background: transparent;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-teal);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
  margin: 1rem;
}

.d-navbar-logo::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: -6px;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--dark-orange);
  transition: width 0.3s ease;
}

.d-navbar-logo:hover::after {
  width: 80%;
}

.d-navbar-logo:hover {
  color: var(--dark-orange);
  transform: scale(1.08);
}

 .sidebar-divider {
  width: 100%;
  border: 0;
  height: 2px;
  background-color: var(--orange);
  margin: 1rem 0;
}

.sidebar nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.nav-link {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 15px 20px;
  border-radius: 15px;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  background-color: var(--grey);
  transform: translateX(4px);
}

.nav-link:last-child{
  background-color: var(--teal);
  color: white;
  font-size: 1rem;
}

.nav-link:last-child .nav-icon{
  color: white;
}

.nav-icon{
  margin-right: 0.6rem;
  font-size: 1rem;
  color: var(--teal);
}

.main-content {
  margin-left: 280px;
  padding: 40px;
  flex-grow: 1;
  border-radius: 10px;
  height: 100vh;
  overflow-y: auto;
}

.hamburger {
  display: none;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  background: var(--dark-cream);
  color: var(--orange);
  border: none;
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 10px;
  z-index: 1001;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger .ham-icon{
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
}

.nav-link.active {
  background-color: var(--dark-cream);
}



@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    background-color: #f5f5f5;
    width: 250px;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.15);
    padding-top: 2rem;
  }

  .d-navbar-logo{
    margin-top: 3rem;
  }

  .nav-link{
    font-size: 0.9rem;
    padding: 0.8rem
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin: 2rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    background-color: #f5f5f5;
    width: 250px;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.15);
    padding-top: 2rem;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin: 2rem;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  /* .nav-link {
    font-size: 0.85rem;
    padding: 8px 12px;
  }

  .d-navbar-logo {
    font-size: 1.2rem;
  } */

  .main-content {
    padding: 1rem;
  }
}
