:root {
  --teal: #80CBC4;
  --aqua: #b4ebe6;
  --cream: #fbf8ef;
  --dark-cream: #ffebca;
  --orange: #ffb433;
  --dark-teal: #00634c;
  --dark-blue: #004574;
  --light-blue: #f5feff;
  --hover-bg: #f5f5f5;
  --grey: #e7e5e5;
  --dark-orange: #d18400;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Arial', sans-serif;
  margin-top: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px; 
  margin: 0 auto;
}


.footer-section {
  flex: 1;
  margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-section h3 {
  font-size: 2.4rem;
  margin-bottom: 15px;
  color: #f1f1f1;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  font-size: 1rem;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 20px 0;
  }
}
