:root {
  --teal: #80CBC4;
  --aqua: #b4ebe6;
  --cream: #fbf8ef;
  --dark-cream: #ffebca;
  --orange: #ffb433;
  --dark-teal: #00634c;
  --dark-blue: #004574;
  --light-blue: #f5feff;
  --hover-bg: #f5f5f5;
  --grey: #e7e5e5;
  --dark-orange: #d18400;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ========= HERO SECTION ========== */

.hero-section {
  display: flex;
  min-height: 80vh;
  width: 100%;
}

.hero-left,
.hero-right {
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  border-radius: 20px;
  padding: 3rem;
}

.hero-right{
  position: relative;
  overflow: hidden;
}

.hero-background-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 0;
}

.hero-background-decor::before,
.hero-background-decor::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 0;
}

.hero-background-decor::before {
  width: 180px;
  height: 180px;
  background-color: var(--aqua);
  top: 10%;
  right: 5%;
}

.hero-background-decor::after {
  width: 150px;
  height: 150px;
  background-color: var(--aqua);
  bottom: 20%;
  left: 5%;
}


.hero-heading {
  width: 70%;
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  color:  #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-icon {
  font-size: 6rem;
  margin-right: 0.75rem;
  color: var(--dark-blue);
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(142, 216, 238, 0.863);
}

.hero-subtext,
.hero-description {
  width: 50%;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.hero-subheading {
  width: 50%;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.8rem;
  margin: 2rem 0 0.5rem;
}

.cta-btn {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  padding: 0.85rem 1.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: 0 6px 20px rgba(58, 134, 255, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.cta-btn:hover {
  box-shadow: 0 8px 24px var(--aqua);
  transform: translateY(-3px);
}

.cta-icon {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.hero-right {
  background-color: #ffffff;
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.image-card {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.image-grid > :nth-child(1){
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
}

.image-grid > :nth-child(4){
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
}

.image-card:hover {
  transform: scale(1.05);
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-stack {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.icon-item {
  font-size: 3rem;
  color: var(--dark-teal);
  background: #f0f0f0;
  border-radius: 50%;
  padding: 0.8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon-item:hover {
  background-color: var(--hover-bg);
  color: var(--dark-orange);
  border: 2px solid var(--dark-orange);
  box-shadow: 0 6px 20px rgba(58, 134, 255, 0.2);
  transform: scale(1.4);
}




/* =============== OFFER SECTION =============== */

.offer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: white;
  gap: 2rem;
  flex-wrap: wrap;
}

.offer-left {
  flex: 1;
  min-width: 100px;
  margin-left: 2rem;
}

.offer-title {
  font-size: 2.5rem;
  color: var(--dark-blue);
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.offer-description {
  font-size: 1.2rem;
  color: #555;
  max-width: 400px;
}

.offer-right {
  flex: 2;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.offer-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.offer-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 16px 32px var(--dark-cream);
}

.offer-icon {
  font-size: 3rem;
  color: var(--orange);
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.4rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* ================== HEADER SECTION ======================= */

.home-header {
  position: relative;
  height: 60vh;
  background-image: url('../assets/rainy_2.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.home-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.home-header .header-content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.home-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.home-header p {
  font-size: 1.5rem;
}



/* =========== CONTACT US =============== */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 40px;
  height: 60vh;
  background-color: #f7f9fc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-left,
.contact-right {
  flex: 1;
  max-width: 600px;
}

.contact-right{
  width: 50%;
  height: 40vh;
  margin: 0 auto;
}

.contact-left{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 50%;
  height: 40vh;
  margin: 0 auto;
}

.contact-left h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #222;
}

.contact-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #444;
  font-size: 1.5rem;
}

.contact-detail .icon {
  margin-right: 15px;
  color: var(--dark-orange);
  font-size: 3rem;
  background-color: var(--dark-cream);
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-detail .icon:hover {
  background-color: var(--orange);
  color: white;
  transform: scale(1.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 20px 20px;
  border: 2px solid var(--hover-bg);
  border-radius: 20px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--orange);
  box-shadow: 0 0 5px rgb(255, 180, 51,0.5);
  outline: none;
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-form button {
  background-color: var(--orange);
  color: white;
  padding: 12px 16px;
  font-size: 1rem;
  width: 50%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: var(--dark-orange);
}


/* ============== FEATURE CARDS ============ */

.feature-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 3rem;
  flex-wrap: wrap;
  background-color: #f9f9f9;
}

.left-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.feature-card {
  width: 250px;
  height: 180px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.feature-overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
  color: white;
  text-align: center;
}

.feature-icon {
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
}

.feature-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.feature-subtitle {
  font-size: 0.9rem;
}

.big-card {
  width: 700px;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.big-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.big-card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  color: white;
}

.big-card-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.big-card-subtitle {
  font-size: 1rem;
  margin: 0;
}



/* ============ WAVE CARDS ============== */

.region-section {
  text-align: center;
  padding: 3rem 2rem;
  background-color: white;
}

.region-header {
  margin-bottom: 1rem;
}

.region-icon {
  font-size: 3rem;
  color: var(--dark-orange);
  margin-bottom: 0.5rem;
}

.region-title {
  font-size: 2.5rem;
  color: #333;
  font-weight: 700;
  margin: 0.5rem 0;
}

.region-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0;
  margin-bottom: 2rem;
}

.region-component {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.region {
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.region:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 28px rgba(255, 180, 51,0.5);
  z-index: 2;
}

/* Position animations */
.region.up {
  transform: translateY(-20px);
}

.region.down {
  transform: translateY(20px);
}

.region-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.region-text {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  padding: 0 10px;
}


/* ================= WEATHER DETAILS =============== */ 

.weather-details-container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  gap: 30px;
  padding: 3rem;
  background-color: var(--light-blue);
  flex-wrap: wrap;
}

.weather-image-card {
  flex: 1;
  height: 500px;
  max-width: 500px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-card {
  flex: 1;
  max-width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-heading {
  font-size: 2rem;
  color: #444;
  margin-bottom: 1.5rem;
}

.info-list {
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;

}

.info-item {
  font-size: 1.3rem;
  padding: 0.6rem 0;
  color: #444;
}

.info-item:last-child {
  border-bottom: none;
}





/* ========== RESPONSIVE STYLES ========== */

@media (max-width: 1200px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-subtext,
  .hero-description,
  .hero-subheading,
  .cta-btn {
    width: 80%;
  }

  .image-grid {
    grid-template-columns: repeat(2, 180px);
  }

   .region-title {
    font-size: 2.2rem;
  }

  .region-subtitle {
    font-size: 1.1rem;
  }

  .region {
    width: 220px;
    height: 300px;
  }

   .big-card {
    width: 100%;
    height: 400px;
  }

  .big-card-title {
    font-size: 2rem;
  }
  .weather-image-card,
  .info-card {
    max-width: 450px;
    height: 450px;
  }

  .info-heading {
    font-size: 1.8rem;
  }

  .info-item {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .hero-icon {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .hero-left{
    margin-top: 3rem;
  }

    .hero-heading {
    flex-direction: column;
    text-align: center;
  }

  .hero-subtext,
  .hero-description,
  .hero-subheading {
    width: 100%;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    padding: 2rem;
  }

  .image-grid {
    grid-template-columns: repeat(2, 220px);
  }

  .cta-btn {
    width: 80%;
  }

  .offer-section {
    flex-direction: column;
    align-items: center;
  }

  .offer-left,
  .offer-right {
    margin-left: 0;
    text-align: center;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  .contact-left,
  .contact-right {
    width: 100%;
    max-width: none;
    height: auto;
    text-align: center;
  }


  .contact-form button {
    width: 80%;
  }

  .contact-form textarea{
    width: 80%;
  }

   .region-title {
    font-size: 2rem;
  }

  .region-subtitle {
    font-size: 1rem;
  }

  .region {
    width: 180px;
    height: 250px;
  }
  .feature-section {
    flex-direction: column;
    padding: 2rem;
  }

  .left-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .feature-card {
    width: 300px;
    height: 160px;
  }

  .big-card {
    height: 300px;
  }

  .big-card-title {
    font-size: 1.8rem;
  }

  .big-card-subtitle {
    font-size: 0.95rem;
  }
   .weather-details-container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .info-card {
    width: 100%;
    max-width: 700px;
    height: auto;
  }

  .weather-image-card{
    width: 80%;
    max-width: 600px;
    height: 300px;
  }

  .info-card {
    padding: 1.5rem;
  }

  .info-heading {
    text-align: center;
  }
  .info-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
  }
  .info-item{
    font-size: 1.2rem;
  }
  .weather-details-container .cta-btn{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
  }

  .hero-subtext,
  .hero-description,
  .hero-subheading {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  .cta-btn {
    font-size: 1rem;
    width: 80%;
    padding: 0.75rem 1rem;
  }

  .image-grid {
    grid-template-columns: repeat(2, 140px);
    gap: 0.75rem;
  }

  .icon-stack {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .contact-left h2 {
    font-size: 2rem;
  }

  .contact-detail {
    font-size: 1.1rem;
    flex-direction: column;
    gap: 0.5rem;
  }
  .region-title {
    font-size: 1.8rem;
  }

  .region-subtitle {
    font-size: 0.95rem;
  }

  .region-component {
    gap: 16px;
  }

  .region {
    width: 180px;
    height: 250px;
  }

  .region-text {
    font-size: 1rem;
  }
  .left-cards {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .feature-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .feature-title {
    font-size: 1.5rem;
  }

  .feature-subtitle {
    font-size: 0.85rem;
  }

  .big-card {
    height: 300px;
  }

  .big-card-title {
    font-size: 1.6rem;
  }

  .big-card-subtitle {
    font-size: 0.9rem;
  }
    .info-heading {
    font-size: 1.6rem;
  }

  .info-item {
    font-size: 1.1rem;
    text-align: center;
  }

  .info-card {
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .hero-heading {
    font-size: 1.6rem;
  }

  .hero-icon {
    font-size: 4rem;
  }

  .image-grid {
    grid-template-columns: 1fr;
  }

  .offer-title {
    font-size: 2rem;
  }

  .offer-description {
    font-size: 1rem;
  }

  .offer-card {
    width: 100%;
    max-width: 320px;
  }

  .contact-left h2 {
    font-size: 1.8rem;
  }

  .contact-form button {
    width: 100%;
  }

  .home-header h1 {
    font-size: 2rem;
  }

  .home-header p {
    font-size: 1.2rem;
  }

   .region-title {
    font-size: 1.6rem;
  }

  .region-subtitle {
    font-size: 0.9rem;
  }

  .region {
    width: 90%;
    height: 220px;
  }

  .region-text {
    font-size: 0.9rem;
    padding: 0 5px;
  }
  .feature-section {
    padding: 1.5rem 1rem;
  }

  .feature-card {
    height: 140px;
  }

  .feature-title {
    font-size: 1.3rem;
  }

  .feature-subtitle {
    font-size: 0.8rem;
  }

  .big-card {
    height: 250px;
  }

  .big-card-title {
    font-size: 1.4rem;
  }

  .big-card-subtitle {
    font-size: 0.85rem;
  }

  .big-card-overlay {
    padding: 1rem;
  }
   .weather-details-container {
    padding: 1rem;
    gap: 20px;
   
  }

  .info-heading {
    font-size: 1.4rem;
  }

  .info-item {
    font-size: 1rem;
  }

  .weather-image-card,
  .info-card {
    max-width: 100%;
    border-radius: 10px;
  }
}

