:root {
  --teal: #80CBC4;
  --aqua: #b4ebe6;
  --cream: #fbf8ef;
  --dark-cream: #ffebca;
  --orange: #ffb433;
  --dark-teal: #00634c;
  --dark-blue: #004574;
  --light-blue: #f5feff;
  --hover-bg: #f5f5f5;
  --grey: #e7e5e5;
  --dark-orange: #d18400;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background: var(--hover-bg);
  flex-direction: column; 
  box-sizing: border-box;
}


.login-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  margin-top: 4%;
}


.login-content {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex: 1;
  text-align: center;
  width: 500px;
  max-width: 90%;
}


.login-content h2{
    font-size: 2.5rem;
    margin-top: 2rem;
    color: var(--dark-teal);
}

.reg .login-content h2{
    color: var(--dark-orange);
}

.login-content p{
    font-size: 1.3rem;
    margin-top: 1rem;
}

.form-container {
  margin-top: 2rem;
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
}

.reg .input-icon{
  color: var(--orange);

}

.input-icon {
  position: absolute;
  top: 50%;
  left: 13%;
  font-size: 1.5rem;
  transform: translateY(-50%);
  color: var(--teal);
}

input {
  width: 80%;
  padding: 20px 40px 15px 55px; 
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  font-size: 1rem;
}

input::placeholder {
  color: #888;
}

.reg input:focus {
  box-shadow: 0 0 10px var(--dark-cream);
  border-color: var(--dark-orange);
}

input:focus {
  box-shadow: 0 0 10px var(--aqua);
  border-color: var(--teal);
}

.error {
  border-color: #e53e3e;
  box-shadow: 0 0 5px #e53e3e;
  margin-top: 1rem;
}

.error-message {
  color: #e53e3e;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}

.reg .login-button{
  background-color: var(--dark-orange);
  border: 2px solid var(--dark-orange);
  box-shadow: 
    0 3px 8px rgba(0, 0, 0, 0.2),
    0 0 8px var(--dark-cream);
}

.login-button {
 width: 80%;
  padding: 12px;
  background-color: var(--teal);
  color:white;
  border: 2px solid var(--teal);
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 
    0 3px 8px rgba(0, 0, 0, 0.2),
    0 0 8px rgba(127, 255, 225, 0.5); 
  transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.reg .login-button:hover{
  border: 2px solid var(--orange);
  box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 0 15px var(--dark-cream); 
}

.login-button:hover {
  animation: forwards 0.5s;
  border: 2px solid var(--teal);
  box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 0 15px var(--dark-teal); 
}


.forgot-password {
  text-align: right;
  margin-bottom: 1rem;
}

.forgot-password a {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: relative;
  border-radius: 10px;
  transition: 
    color 0.3s ease, 
    transform 0.2s ease,
    background-color 0.3s ease;
  color: var(--dark-teal);
  font-size: 1rem;
  text-decoration: none;
}

.forgot-password a::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: -1px;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--orange);
  transition: width 0.3s ease;
}

.forgot-password a:hover::after {
  width: 80%;
}

.forgot-password a:hover {
  color: var(--orange);
  transform: translateY(-1px);
  border-radius: 5px;
}


.signup-switch {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}

.signup-switch p{
    font-size: 1rem;
}

.reg .signup-switch a{ 
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 0 8px var(--dark-cream); 
  background-color: var(--orange);
}

.signup-switch a {
    margin-left: 1rem;
  background-color: var(--teal);
  color: white;
  padding: 0.6rem 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 0 8px var(--aqua); 
  transition: 
    background-color 0.3s ease, 
    transform 0.2s ease,
    box-shadow 0.3s ease;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
}

.reg .signup-switch a:hover{
  background-color: var(--dark-orange);
    box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 0 16px var(--dark-cream); 
}

.signup-switch a:hover {
  color: white;
  background-color: var(--dark-teal);
  transform: translateY(-2px);
  box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 0 16px rgba(128, 203, 196, 0.8); 
}


.login-icon-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login-icon-link {
  background: transparent;
  position: relative;
  border: none;
}

.login-icon-item {
  font-size: 3rem;
  color: var(--dark-teal);
  background-color: white;
  padding: 0.6rem;
  border-radius: 50%;
  border: 2px solid transparent;
  box-shadow: 
    0 3px 8px rgba(0, 0, 0, 0.2),
    0 0 8px rgba(51, 143, 122, 0.3); 
  transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.login-icon-item:hover {
  color: var(--orange);
  transform: scale(1.2) translateY(-2px);
  animation: bounce 0.5s;
  border: 2px solid var(--teal);
  box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 0 15px var(--aqua); 
}


.login-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.register-image-wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.reg-image-background {
  background: linear-gradient(135deg, #ffc19d, #ffdea1);
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 80vh;
}

.image-background {
  background: linear-gradient(135deg, #e0f7fa, #f9fbe7);
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 80vh;
}


.main-img-flipped {
  max-width: 100%;
  height: auto;
  border-radius: 0;
  box-shadow: none;
  opacity: 0.95;
  padding: 1rem;
}


.reg-main-img-flipped {
    max-width: 100%;
  height: auto;
  border-radius: 0;
  box-shadow: none;
  opacity: 0.95;
  padding: 1rem;
}

.custom-select {
  width: 80%;
  padding: 18px 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  outline: none;
  background-color: white;
  transition: 0.3s;
  appearance: none;
}

.custom-select:focus {
  border-color: var(--orange);
  box-shadow: 0 0 10px var(--orange);
}

.custom-select option {
  background-color: white;
  color: #333;
  font-size: 1rem;
  padding: 40px; 
}

.custom-select option:hover {
  background-color: var(--hover-bg); 
  color: var(--dark-teal);
}



/* Medium Devices (Tablets) */
@media screen and (max-width: 992px) {
  .login-card {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
    margin-top: 3rem;
    max-width: 90%;
  }

  .login-content{
    max-width: 80%;
  }

  .input-icon {
  position: absolute;
  top: 50%;
  left: 8%;
  font-size: 1.5rem;
  transform: translateY(-50%);
  color: var(--teal);
}

  input, select, .login-button{
    margin-left: 2rem;
  }

  .login-image-wrapper,
  .register-image-wrapper {
    height: auto;
    max-width: 100%;
    /* padding: 1rem 0; */
  }

  .reg-image-background,
  .image-background{
    max-width: 100%;
    height: 50%;
  }

  .main-img-flipped,
  .reg-main-img-flipped {
    width: 90%;
    height: auto;
  }

  .login-content {
    width: 90%;
  }

  .input-icon {
    left: 10%;
  }

  .login-button {
    width: 90%;
  }

  input,
  .custom-select {
    width: 90%;
  }

  .signup-switch {
    width: 100%;
  }
}

/* Small Devices (Phones) */
@media screen and (max-width: 600px) {
  .login-content h2 {
    font-size: 2rem;
  }

  .login-content p {
    font-size: 1rem;
  }

  .input-icon{
    left: 15%;
  }


  .login-icon-item {
    font-size: 2.2rem;
    padding: 0.4rem;
  }

  .login-button {
    font-size: 1rem;
  }

  .signup-switch a {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .forgot-password a {
    font-size: 0.9rem;
  }

  .input-icon {
    left: 8%;
    font-size: 1.2rem;
  }

  .login-icon-stack {
    flex-wrap: wrap;
    gap: 0.8rem;
  }
}
