.rain-dashboard-container {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  /* padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.rain-chart-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.rain-chart-wrapper > :nth-child(1) {
  grid-column: span 12;
  height: auto;
  max-width: 100%;
}

.rain-chart-wrapper > :nth-child(2) {
  grid-column: span 8;
  height: 40vh;
  max-width: 100%;
}

.rain-chart-wrapper > :nth-child(3) {
  grid-column: span 4;
  height: 40vh;
  max-width: 100%;
}

.rain-chart-wrapper > :nth-child(4) {
  grid-column: span 6;
  height: 40vh;
  max-width: 100%;
}

.rain-chart-wrapper > :nth-child(5) {
  grid-column: span 6;
  /* height: 20vh; */
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .rain-chart-wrapper {
    grid-template-columns: repeat(8, 1fr);
  }
  .rain-chart-wrapper > :nth-child(1) {
    grid-column: span 8;
  }
  .rain-chart-wrapper > :nth-child(2) {
    grid-column: span 6;
  }
  .rain-chart-wrapper > :nth-child(3) {
    grid-column: span 2;
  }
  .rain-chart-wrapper > :nth-child(4) {
    grid-column: span 4;
  }
  .rain-chart-wrapper > :nth-child(5) {
    grid-column: span 4;
  }
}

@media screen and (max-width: 992px) {
  .rain-chart-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
  .rain-chart-wrapper > :nth-child(1) {
    grid-column: span 6;
  }
  .rain-chart-wrapper > :nth-child(2) {
    grid-column: span 4;
  }
  .rain-chart-wrapper > :nth-child(3) {
    grid-column: span 2;
  }
  .rain-chart-wrapper > :nth-child(4) {
    grid-column: span 3;
  }
  .rain-chart-wrapper > :nth-child(5) {
    grid-column: span 3;
  }
}

@media screen and (max-width: 768px) {
  .rain-chart-wrapper {
    grid-template-columns: 1fr;
  }
  .rain-chart-wrapper > * {
    grid-column: span 1 !important;
    height: auto;
  }
  .rain-dashboard-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .rain-dashboard-container {
    width: 100%;
    border-radius: 0;
    padding: 0.5rem;
  }
  .dashboard-heading {
    font-size: 1.2rem;
  }
}