.station-dashboard-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* display: flex;
  flex-direction: column;
  align-items: center;  */
}

.dashboard-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.station-dashboard-container select{
  display: none;
}

