
.chart-container {
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 100%; 
}


.chart-loading {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  padding: 2rem;
}

.spinner-with-logo {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto 1rem;
}

.spinner-with-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #f19900;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

.spinner-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .chart-container {
    width: 100%;  
    padding: 1rem;
  }
}
